body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
}

button {
    width: 60px;
    height: 60px;
    font-size: 22px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.digit:hover,
.operation:hover {
    background-color: #565555;
    color: white;
    font-weight: bolder;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    width: 340px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-sizing: border-box;
}

#calculator div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.operation {
    background-color: orange;
    color: white;
}

#row {
    gap: 5px;
}


#clear {
    background-color: rgb(176, 71, 92);
    color: #f1f1f1;
}

#clear:hover {
    background-color: saddlebrown;
    color: #333;
    font-weight: 800;
}

#display {
    width: auto;
    min-width: 140px;
    height: 30px;
    background-color: #f4f4f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}